<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @pet.birthday %>
</p>


<p>
  <strong>History</strong>
  <% @pet.histories.each do |h| %>
    <p><i>Weight</i></p>
      <%= h.weight %>
    <p><i>Height</i></p>
      <%= h.height %>
  <% end %>
</p>

<table>
  <thead>
    <tr>
      <th>Peso promedio</th>
      <th>Altura promedio</th>
      <th>Peso maximo</th>
      <th>Altura maxima</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @pet.avg_weight %></td>
      <td><%= @pet.avg_height %></td>
      <td><%= @pet.max_weight %></td>
      <td><%= @pet.max_height%></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
